<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <h1>Bem-vindo ao Sistema de Empréstimo de Livros!</h1>
    {% if current_user.is_authenticated %}
        <p>Olá, {{ current_user.nome }}! <a href="{{ url_for('auth.logout') }}">Logout</a></p>
    {% else %}
        <p><a href="{{ url_for('auth.login') }}">Login</a></p>
    {% endif %}

    <p>Escolha uma das opções abaixo:</p>
    <ul>
        <li><a href="{{ url_for('borrowed.index') }}">Livros Emprestados</a></li>
        <li><a href="{{ url_for('books.index') }}">Livros</a></li>
        <li><a href="{{ url_for('users.index') }}">Usuários</a></li>
    </ul>
</body>
</html>
