<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Lista de Livros</h1>

    {% if mensagem %}
    <div style="color: red;">{{ mensagem }}</div>
    {% endif %}

    <a href="{{url_for('books.register')}}">Adicionar</a>
    <hr>
    {% for book in books %}

    <!-- Listar -->
    <p>{{book.titulo}}</p>

    <!-- Deletar -->
    <form action="{{ url_for('books.delete', book_id=book.id) }}" method="post">
        <button type="submit" onclick="return confirm('Você tem certeza que deseja remover esse livro?')";>Deletar</button>
    </form>

    <!-- Editar -->
    <a href="{{ url_for('books.edit', book_id=book.id) }}">
        <button type="button">Editar</button>
    </a>
        
    {% endfor %}


</body>
</html>